@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Mulish', sans-serif;
  }
  
  body.lock {
    overflow: hidden;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-ms-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }

  .main__wrapper{
    width: 100%;
    min-height: 100vh;
    background-color: #e3e3e3;
  }


  .main__header {
    z-index: 25;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0px 20px;
}
.header__Logo {
    overflow: hidden;
    height: 50px;
    width: 190px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.header__Logo img {
    height: 100%;
}
.header__username__exit {
    display: flex;
    align-items: center;
}
.header__username__image {
    overflow: hidden;
    height: 30px;
    width: 30px;
}
.header__username__image img {
    width: 100%;
}
.header__username__name {
    font-size: 15px;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;

}
.header__username__exit button {
    background-color: rgba(39, 48, 73, 1);
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    border: 2px solid rgba(39, 48, 73, 1);
    font-weight: 500;

}
.header__username__exit button:hover{
    background-color: #fff;
    color: rgba(39, 48, 73, 1);
}
.header__add_element{
  background-color: #3e4953;
  color: #f1f1f1;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1.5px solid #3e4953;
}
.header__add_element:hover{
  background-color: #f1f1f1;
  color: #3e4953;
}

.admin__data{
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
}

  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 49.9%;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;

    border-top: none;
  }

  .tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tabcontent {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
.elements__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.elements_element {
    width: 100%;
    padding: 10px 30px;
    background-color: #f6f7f7;
    border-radius: 9px;
    margin-bottom: 20px;
    color: #3e4953;
    display: flex;
    justify-content: space-between;

}
.elements_element__container{
  width: 85%;

  height: 100%;
}
.elements_element__location{
  width: 13%;
  display: flex;
  justify-content: end;

}
.elements_element__location a{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.elements_element__location img {
  width: 30px;
}
.elements_element_name {
    font-weight: 600;
    margin-bottom: 7px;
    font-size: 16px;
}
.elements_element_adress {
    margin-bottom: 5px;
    height: 30px;
}

.elements_element_number {
}

.elements_element__location_delete{
  width: 100px;


}
.elements_element__location_delete a {
  width: 100%;
  height: 100%;
  display: block;
}
.elements_element__location_change{
  margin-left: 20px;
  width: 100px;
  border-left: 1px solid #3e49533a;
  border-right: 1px solid #3e49533a;
}

.elements_element__location_change a {
  width: 100%;
  height: 100%;
  display: block;
  color: #3e4953;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elements_element__location_change i {
  font-size: 50px;
}
.elements_element__location_change a:hover{
  color: #bc1a1a;
}


.elements_element__location_delete a{
  width: 100%;
  height: 100%;
  display: block;
  color: #3e4953;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elements_element__location_delete i {
  font-size: 50px;
}
.elements_element__location_delete a:hover{
  color: #bc1a1a;
}


.add_container {
  width: 750px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
}
.add__element__form {
  width: 100%;
  height: 100%;
}
.add__element__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.add__element__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

}
.add__element__desc {
  font-size: 16px;
  margin-bottom: 7px;
}
.add__element__input {
  height: 30px;
  width: 100%;

}
.add__element__input input{
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #3e495336;
  width: 100%;
  height: 100%;
  padding: 5px;
}
.add__element__button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add__element__button input {
  background-color: #3e4953;
  color: #f1f1f1;
  border: 1.5px solid #3e4953;
  padding: 10px 40px;
  cursor: pointer;
}

.add__element__button input:hover{
  background-color: #f1f1f1;
  color: #3e4953;
}
.succes__block{
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.succes__block p {
  color: rgb(17, 112, 17);
  font-size: 14px;
}